.alert {
    margin-left: -10%;
    width: 25%;
}

.alertcont {
    margin-top: -27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 37%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    min-height: 100vh;
    background-color: var(--main-back)
}

.logoholder {
    width: 100%;
    margin-left: 9%;
    margin-top: 7%;
}
  
.container {
    background-color: #598392;
    border-radius: 20px;
    padding: 3rem 1rem 3rem 1rem;
    margin-bottom: 4%;
    height: 83px;
}

.h3 {
    color: #ffffff;
    text-align: center;
    margin-top: 1%;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 1%;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 73%;
    height: 517px;
    justify-content: space-around;
}

.button {
    background-color: #F06543;
    color: #ffffff;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 15px;
    width: 100%;
}
