.logo {
    width: 37%;
}

.logoholder {
    width: 100%;
    margin-left: 9%;
    margin-top: -27%;
}
  
.container {
    background-color: #598392;
    border-radius: 20px;
    padding: 3rem 1rem 3rem 1rem;
    margin-bottom: 4%;
}

.h3 {
    color: #ffffff;
    text-align: center;
    margin-top: 12%;
}



.buttoncontainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 1%;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 73%;
    margin-top: -50%;
}

.button {
    background-color: #F06543;
    color: #ffffff;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 15px;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    min-height: 100vh;
    background-color: var(--main-back)
}