:root {
    --accents: #F06543;
    --white: #FFFFFF;
    --contrast-main2: #598392;
    --main-back: #153B50;
    --dark: #01161E;
}

body {
    margin: 0;
    padding: 0;

}
    

<<<<<<< HEAD
=======

    
}
>>>>>>> b9025b782e0bb9dd241b32e55d9954ebbae7a820
