.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.1rem 0rem 1rem;
  min-height: 100vh;
  background-color: var(--main-back)
}

