.container {
    background-color: var(--contrast-main2);
    border-radius: 20px;
    padding: 3rem 1rem 3rem 1rem;
    overflow: auto;
    color: aliceblue;
    text-align: center;
}

.scrollbar {

    background-color: var(--contrast-main2);
    border-radius: 20px;
    padding: 3rem 1rem 3rem 1rem;
    margin-bottom: 29%;
    overflow: auto;
    height: 500px;    
    overflow-y: scroll;
    color: aliceblue;
    text-align: center;

}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}
  
  .scrollbar::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  .cont {
    background-color: var(--main-back);
    padding: 1rem;
    border-radius: 29px;
    margin-top: 3%;
    margin-left: 1%;
  }

  .incorrect {
    color: var(--accents);
  }

  .correct {
    color: var(--green);
  }

  .youranswer {
    color: var(--green);
  }

.h3 {
    color: var(--white);
    text-align: center;
    margin-top: -14%;
}

.button {
    background-color: var(--accents);
    color: var(--white);
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 15px;
    width: 100%;
    margin-top: 5%;
}

.back {
    background-color: var(--dark);
    color: var(--white);
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 15px;
    width: 100%;
    margin-top: 5%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.1rem 0rem 1rem;
    min-height: 100vh;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--main-back);
    
}